* {
    font-family: helvetica;
    font-weight: 400;
    box-sizing: border-box;
}
thead {
    position: sticky;
    top: 0;
    background-color: #303030;
    color: whitesmoke;
}
td {
    padding: 0.25rem 0.5rem;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
body {
    margin: 1dvh 10dvw;
}
.dflex {
    display: flex;
    gap: 1rem;
}.items-center {
    align-items: center;
}
.page-title {
    font-size: 1.5rem;
    font-weight: 600;
}
.grid12 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}
.grid13 {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 1rem;
}
.data-list {
    height: 70vh;
    overflow-y: auto;
}
@media screen and (max-width:960px) {
    body {margin: auto 5dvw;}
}